$fire_color: #f72585;
$earth_color: #509724;
$air_color: #fbb03b;
$water_color: #0000ff;

.fire_sign {
    background-color: $fire_color;
    &:hover {
        filter: brightness(150%);
    }
}
.earth_sign {
    background-color: $earth_color;
    &:hover {
        filter: brightness(130%);
    }
}
.air_sign {
    background-color: $air_color;
    &:hover {
        filter: brightness(120%);
    }
}
.water_sign {
    background-color: $water_color;
    &:hover {
        filter: brightness(200%);
    }
}

.sign {
    transition: flex .5s ease-in-out;
}

.sign.active {
    flex: 5;  
}