@use "../colors" as color;

$line_color: #FFFFFF;
$line_color_opacity: rgba(255, 255, 255, .5);
$inner_circle_color: color.$base_300;
$outer_cicle_color: color.$base_400;
$button_glow: color.$base_highlight;

$max_houses_radius: 500px;
$houses_radius: 80vw;
:export {
  max_houses_radius: $max_houses_radius;
  houses_radius: $houses_radius;
}

.houses_top_full {
  top: 21vh;
}
.houses_top_mobile {
  top: calc(21vh*2)
}

.houses { 
  max-width: $max_houses_radius;
  width: $houses_radius;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid $line_color_opacity; 
  place-items: center;
  background:
    radial-gradient(closest-side, $inner-circle-color 60%, transparent 0 100%),
    conic-gradient($outer-cicle-color 0 100%);        
  .divider {
    background: $line_color_opacity;
    max-height: calc(($max_houses_radius/2) - 2px);
    height: calc(($houses_radius/2) - 2px);
    left: calc(50%);
    top: inherit;
    position: absolute;
    transform-origin: 0 100%;
    transform: rotate(calc(1turn * (var(--percent) / 360)));
    width: 2px;
    aspect-ratio: 1/1;
  }
}
.house_button_container{
  display: flex;
  &:before, &:after {
    content: "";
    max-width: calc($max_houses_radius/10);
    width: calc($houses_radius/10);
    min-width: (calc($max_houses_radius/18));
    display: inline-block;
    aspect-ratio: 1/1;
  }
}
.house_button {
  border-radius: 50%;
  background: radial-gradient($inner-circle-color, $button_glow);
  max-height: calc($max_houses_radius/10);
  height: calc($houses_radius/10);
  transform: rotate(15deg);
  aspect-ratio: 1/1;
}

.house_1 {
  --percent: -120;
}
.house_2 {
  --percent: -150;
}
.house_3 {
  --percent: 180;
}
.house_4 {
  --percent: 150;
}
.house_5 {
  --percent: 120;
}
.house_6 {
  --percent: 90;
}
.house_7 {
  --percent: 60;
}
.house_8 {
  --percent: 30;
}
.house_9 {
  --percent: 0;
}
.house_10 {
  --percent: -30;
}
.house_11 {
  --percent: -60;
}
.house_12 {
  --percent: -90;
}

.house_button:hover {
  border-radius: 50%;
  background: $button_glow;
  animation: glow 2s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 2vw 2vw $button_glow;
  }
}