@use "../colors" as color;

$line_color: #FFFFFF;
$line_color_opacity: rgba(255, 255, 255, .5);
$inner_circle_color: color.$base_300;
$outer_cicle_color: color.$base_400;
$button_glow: color.$base_highlight;

$max_houses_radius: 500px;
$houses_radius: 76vw;
:export {
  max_houses_radius: $max_houses_radius;
  houses_radius: $houses_radius;
}

.houses_top_full {
  top: 21vh;
}
.houses_top_mobile {
  top: calc(21vh*2)
}

.houses { 
  max-width: $max_houses_radius;
  width: $houses_radius;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid $line_color_opacity; 
  place-items: center;
  background:
    radial-gradient(closest-side, $inner-circle-color 60%, transparent 0 100%),
    conic-gradient($outer-cicle-color 0 100%);        
  .divider {
    background: $line_color_opacity;
    max-height: calc(($max_houses_radius/2) - 2px);
    height: calc(($houses_radius/2) - 2px);
    left: calc(50%);
    top: inherit;
    position: absolute;
    transform-origin: 0 100%;
    transform: rotate(calc(1turn * (var(--percent) / 360)));
    width: 2px;
    aspect-ratio: 1/1;
  }
  .house_divider {
    max-height: calc(($max_houses_radius/2) - 2px);
    height: calc(($houses_radius/2) - 2px);
    left: calc(50%);
    width:0;
    top: inherit;
    position: absolute;
    transform-origin: 0 100%;
    transform: rotate(calc(1turn * (var(--percent) / 360)));
    aspect-ratio: 1/1;
  }
}

.house_button_container{
  display: flex;
  &:before, &:after {
    content: "";
    max-width: calc(36px);
    width: calc($houses_radius/10);
    min-width: (calc($houses_radius/24));
    display: inline-block;
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 768px){
  .house_button_container{
    &:before, &:after {
      max-width: calc(36px);
      width: calc($houses_radius/12);
      min-width: (calc($houses_radius/14));
    }
  }
}

.house_button {
  border-radius: 50%;
  background: radial-gradient($inner-circle-color, $button_glow);
  max-height: calc($max_houses_radius/10);
  height: calc($houses_radius/10);
  transform: rotate(15deg);
  aspect-ratio: 1/1;
}
.house:nth-of-type(1), .house:nth-of-type(13) {
  --percent: -120;
}
.house:nth-of-type(2), .house:nth-of-type(14) {
  --percent: -150;
}
.house:nth-of-type(3), .house:nth-of-type(15) {
  --percent: 180;
}
.house:nth-of-type(4), .house:nth-of-type(16) {
  --percent: 150;
}
.house:nth-of-type(5), .house:nth-of-type(17) {
  --percent: 120;
}
.house:nth-of-type(6), .house:nth-of-type(18) {
  --percent: 90;
}
.house:nth-of-type(7), .house:nth-of-type(19) {
  --percent: 60;
}
.house:nth-of-type(8), .house:nth-of-type(20) {
  --percent: 30;
}
.house:nth-of-type(9) .house:nth-of-type(21) {
  --percent: 0;
}
.house:nth-of-type(10), .house:nth-of-type(22) {
  --percent: -30;
}
.house:nth-of-type(11), .house:nth-of-type(23) {
  --percent: -60;
}
.house:nth-of-type(12), .house:nth-of-type(24) {
  --percent: -90;
}
.house_button:hover {
  border-radius: 50%;
  background: $button_glow;
  animation: glow 2s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 2vw 2vw $button_glow;
  }
}