$base_sun: #fcee21;
$base_100: #f72585;
$base_200: #b5179e;
$base_300: #7209b7;
$base_400: #560bad;
$base_500: #480ca8;
$base_600: #3a0ca3;
$base_700: #230ca3;
$base_800: #040ca3;
$base_900: #040c84;
$base_highlight: #9198e5;

:export {
    base_sun: $base_sun;
    base_100: $base_100;
    base_200: $base_200;
    base_300: $base_300;
    base_400: $base_400;
    base_500: $base_500;
    base_600: $base_600;
    base_700: $base_700;
    base_800: $base_800;
    base_900: $base_900;
    base_highlight: $base_highlight;
}