@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    display: flex;
    justify-content: center;
  }
}

body {
  height: 100%;
  width: 100%;
  max-width: 1600px;
}
@media screen and (min-width: 769px) {
  body {
    overflow: auto;
  }
}

.home-temp-contain {
  height: 100vh;
}

header {
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .intro::after {
    @apply shadow-md content-none absolute h-1/2 max-sm:h-3/5 left-0 right-0 block bg-inherit origin-left skew-y-6 max-sm:skew-y-12;
    content: '';
    z-index: -1;
  }
}

footer {
  @apply bg-base/80;
  position: fixed;
  bottom: 0;
}
